* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    }

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;    
}

.wrapper {
    width:95%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

header {    
    width: 100%;    
    height:19.65rem;
    padding-top: 0.5rem;      
    background: linear-gradient(120deg, red, whitesmoke);       
    /* position: fixed;
    z-index: 2; */              
}

main {
    width: 100%;
    background-color: red;    
    margin: auto;
    height: 100%; 
}  

footer {
    width: 100%;
    height: 13.6rem;
    background: linear-gradient(120deg, red, whitesmoke);
    /* z-index: 3; */
}

.logo {    
    width: 16.0rem;
    height: 12.6rem;    
    margin-top:0.2rem;               
}

.page-title {
    font-family:Arial, Helvetica, sans-serif;    
    font-size: 2.75rem;   
    color: whitesmoke;                    
}

/* .main-nav {       
    text-align: center;      
}

.main-nav-item {
    display: inline-block;
} */

nav {
    display: flex;
    justify-content: center;            
}

nav a {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.55rem;
    font-weight: bold;  
    color: whitesmoke;
    padding: 0 0.3rem;
    text-decoration: none;              
}

.blog {                        
    background:#ED8824;
    border-radius: 10px;
    margin-left: 1.5rem;
    padding: 0 0.5rem;          
}

.blog-url {
    font-family:'Courier New', Courier, monospace;
    font-size: 1.40rem;
    text-decoration: none;
    color: black;        
}

.col{
    width: 260px;
    display: inline-block;
    text-align: justify;
    vertical-align: top;
    padding: 20px;
    margin-top: 50px;

    
}

.col h2{
    font-family: 'Permanent Marker', cursive;
    font-size: xx-large;
    text-align: center;
    color:red;
    padding-top: 20px;
    
    
} 

.col img{
    border-radius: 200px;
   
}

.row{
    text-align: center;
    margin-top: 100px;
    background:white;

    
}

.col p{
    font-family: 'Caveat', cursive;
    font-size: 22px;
    padding-top: 20px;
    
}





.principal{
    background-color:#800000;
    position: absolute;
    top: 505px;
    right: 450px;
    width: 500px;
    height: 200px;
    opacity: 0.8;
    border-top-left-radius: 50% 100%;
	border-top-right-radius: 50% 100%;
}

.imagen{
    position: relative;
    top: 50px;
    
    width: 70%;
    
    margin-bottom: 200px;
    
    left: 200px;
    
    
}

.principal h1 {
    margin: 70px;
    text-align: center;
    color:white;
    font-family: 'Permanent Marker', cursive;
    font-size: 40px;
}
 


.container2{
    display: flex;
    flex-direction: column;
}

.art1{
    display: flex;
    justify-content: space-around;
    background:white;
    align-items: center;
    height: 500px;
    
}

.parrafo1{
    width: 600px;
    height: 250px;
    background:wheat;
    border-radius: 50px;
    text-align: center;
    border-color:red;
    border-width: 39px;


}

.parrafo1 p{
    margin-top: 30px;
    font-size: 20px;
    color: black;
    padding-left: 30px;
    padding-right: 30px;
   
}

.parrafo1 h1{
    font-size: 30px;
    color:black;
    font-family: 'Permanent Marker', cursive;
    margin-top: 30px;
}

.art2{
    display: flex;
    justify-content: space-around;
    background:red;
    align-items: center;
    height: 500px;
    
}

.parrafo2{
    width: 600px;
    height: 250px;
    background: white;
    
    border-radius: 50px;
    text-align: center;
   

}

.parrafo2 p{
    margin-top: 30px;
    font-size: 20px;
    padding-left: 30px;
    padding-right: 30px;
}

.parrafo2 h1{
    font-size: 30px;
    color:black;
    font-family: 'Permanent Marker', cursive;
    margin-top: 30px;
}

.art3{
    display: flex;
    justify-content: space-around;
    background:white;
    align-items: center;
    height: 500px;
    
}

.parrafo3{
    width: 600px;
    height: 250px;
    background:wheat;
    opacity: 0.8;
    border-radius: 50px;
    text-align: center;

}

.parrafo3 p{
    margin-top: 20px;
    font-size: 20px;
}

.parrafo3 h1{
    font-size: 30px;
    color:black;
    font-family: 'Permanent Marker', cursive;
    margin-top: 30px;
}

@media screen and (max-width: 300px) {       
    header {
        height: 13.2rem;
        padding-top: .33rem;
    }        
   
    footer {
        height: 9.32rem;
    }
    
    .logo {
        width: 10.3rem;
        height: 8.1rem;
    }
        
    .page-title {
        font-size: 1.85rem;
    }
    
    nav a {
        font-size: 0.75rem;
    }
}

@media screen and (min-width: 301px) and (max-width: 800px) {
    header {
        height: 14rem;
        padding-top: 0.42rem;
    }        

    footer {
        height: 10.76rem;
    }

    .logo {
        width: 10.3rem;
        height: 8.1rem;
    }

    .page-title {
        font-size: 2.275rem;
    }
    
    nav a {
        font-size: 1.15rem;
    }

    .blog {                     
        border-radius: 6.5px;
        margin-left: 0.975rem;                                  
    }

    .blog-url {            
        font-size: 1.10rem;                    
    }

    .col{
        width: 169px;        
        padding: 13px;
        margin-top: 32.5px;   
    }
    
    .col h2{        
        font-size:x-large;        
        padding-top: 13px;       
    } 
    
    .col img{
        border-radius: 130px;       
    }
    
    .row{
        margin-top: 65px;     
    }
    
    .col p{
        font-size: 14.3px;
        padding-top: 13px;
    } 
    
    .principal{        
        top: 328.25px;
        right: 292.65px;
        width: 325px;
        height: 130px;
        opacity: 0.8;
        border-top-left-radius: 50% 100%;
        border-top-right-radius: 50% 100%;
    }
    
    .imagen{        
        top: 32.5px;
        
        width: 45.5%;
        
        margin-bottom: 130px;
        
        left: 130px;
        
        
    }
    
    .principal h1 {
        margin: 45.5px;    
        font-size: 26px;
    } 
    
    .art1{        
        height: 325px;        
    }
    
    .parrafo1{
        width: 390px;
        height: 162.5px;        
        border-radius: 32.5px;        
        border-width: 25.35px;
    
    
    }
    
    .parrafo1 p{
        margin-top: 19.5px;
        font-size: 13px;        
        padding-left: 19.5px;
        padding-right: 19.5px;
       
    }
    
    .parrafo1 h1{
        font-size: 19.5px;        
        margin-top: 19.5px;
    }
    
    .art2{        
        height: 325px;
        
    }
    
    .parrafo2{
        width: 390px;
        height: 162.5px;      
        border-radius: 32.5px;              
    }
    
    .parrafo2 p{
        margin-top: 19.5px;
        font-size: 13px;
        padding-left: 19.5px;
        padding-right: 19.5px;
    }
    
    .parrafo2 h1{
        font-size: 19.5px;        
        margin-top: 19.5px;
    }
    
    .art3{        
        height: 325px;        
    }
    
    .parrafo3{
        width: 390px;
        height: 162.5px;        
        border-radius: 32.5px;        
    
    }
    
    .parrafo3 p{
        margin-top: 13px;
        font-size: 13px;
    }
    
    .parrafo3 h1{
        font-size: 19.5px;        
        margin-top: 19.5px;
    }

    .foto1 img {
        width: 292.5px;
        height: 260px;
    }
}