* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    }
    
    html {
        font-size: 62.5%;
    }
    
    body {
        font-size: 1.6rem;    
    }
    
    .wrapper {
        width:95%;
        max-width: 1000px;
        margin: auto;
        overflow: hidden;
    }
    
    header {    
        width: 100%;    
        height:19.65rem;
        padding-top: 0.5rem;      
        background: linear-gradient(120deg, red, whitesmoke);       
        /* position: fixed;
        z-index: 2; */              
    }
    
    main {
        width: 100%;        
        background: palevioletred;
        padding: 2.5rem; 
        /* z-index: 1; */                 
    }  
    
    footer {
        width: 100%;
        height: 13.6rem;
        background: linear-gradient(120deg, red, whitesmoke);
        /* z-index: 3; */
    }
    
    .logo {    
        width: 16.0rem;
        height: 12.6rem;    
        margin-top:0.2rem;               
    }
    
    .page-title {
        font-family:Arial, Helvetica, sans-serif;    
        font-size: 2.75rem;   
        color: whitesmoke;                    
    }
    
    /* .main-nav {       
        text-align: center;      
    }
    
    .main-nav-item {
        display: inline-block;
    } */
    
    nav {
        display: flex;
        justify-content: center;            
    }
    
    nav a {
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 1.55rem;
        font-weight: bold;  
        color: whitesmoke;
        padding: 0 0.3rem;
        text-decoration: none;              
    }
    
    #page-title{
        color: black;
        font-family: Monotype Corsiva;
        font-size: 50px;
        text-align: center;
        margin-bottom: 10px;
      }
      .content{
        color: black;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 17px;
      }
      .cont-image1{
        text-align: center;
        background-color: #FAE087;
        width: 95%;
      }
      .image1{
        width: 50%;
        height: 50%;
        }
      
      .cont2-image{
        text-align: center;
        background-color: #FAE087;
        width: 95%;
      }
      .image2{
        width: 25%;
        height: 12%;
        }
      
      li{
        color: black;
        font-family: Monotype Corsiva;
        font-size: 25px;
      }
    
    @media screen and (max-width: 300px) {       
        header {
            height: 13.2rem;
            padding-top: .33rem;
        }        
       
        footer {
            height: 9.32rem;
        }
        
        .logo {
            width: 10.3rem;
            height: 8.1rem;
        }
            
        .page-title {
            font-size: 1.85rem;
        }
        
        nav a {
            font-size: 0.75rem;
        }
    }
    
    @media screen and (min-width: 301px) and (max-width: 800px) {
        header {
            height: 13.65rem;
            padding-top: 0.42rem;
        }
        
        main {
            padding: 1.625rem;
        }
    
        footer {
            height: 10.76rem;
        }
    
        .logo {
            width: 10.3rem;
            height: 8.1rem;
        }
    
        .page-title {
            font-size: 2.275rem;
        }
        
        nav a {
            font-size: 1.15rem;
        }

        #page-title{            
            font-size: 32.5px;
            text-align: center;
            margin-bottom: 6.5px;
          }
          .content{
            font-size: 11.05px;
          }
          .cont-image1{            
            width: 95%;
          }
          .image1{
            width: 65%;
            height: 65%;
            }
          
          .cont2-image{            
            width: 95%;
          }
          .image2{
            width: 41.25%;
            height: 19.8%;
            }
          
          .image3{
            width: 45%;
            height: 45%;
          }

          .image4{
            width: 65%;
            height: 65%;
          }
          
          li{            
            font-size: 16.25px;
          }
    }
