* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    }
    
    html {
        font-size: 62.5%;
    }
    
    body {
        font-size: 1.6rem;
        background-color: rgb(202, 56, 56);
        background: radial-gradient( circle, salmon) 0%, rgb(202, 56, 56) 100%;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
        color: black;    
    }
    
    .wrapper {
        width:95%;
        max-width: 1000px;
        margin: auto;
        overflow: hidden;
    }
    
    header {    
        width: 100%;    
        height:19.65rem;
        padding-top: 0.5rem;            
        background: linear-gradient(120deg, red, whitesmoke);       
        /* position: fixed;
        z-index: 2; */              
    }
    
    main {
        width: 100%;
        margin: 30px auto;
        display: flex;
        justify-content: center;
        align-items: center;         
    }
    
    footer {
        width: 100%;
        height: 13.6rem;
        background: linear-gradient(120deg, red, whitesmoke);
        /* z-index: 3; */
    }
    
    .logo {    
        width: 16.0rem;
        height: 12.6rem;    
        margin-top:0.2rem;               
    }
    
    .page-title {
        font-family:Arial, Helvetica, sans-serif;    
        font-size: 2.75rem;   
        color: black;                    
    }
    
    /* .main-nav {       
        text-align: center;      
    }
    
    .main-nav-item {
        display: inline-block;
    } */
    
    nav {
        display: flex;
        justify-content: center;              
    }
    
    nav a {
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 1.55rem;
        font-weight: bold;  
        color: black;
        padding: 0 0.3rem;
        text-decoration: none;              
    }

    .blog {                        
        background:#ED8824;
        border-radius: 10px;
        margin-left: 1.5rem;
        padding: 0 0.5rem;
        float: right;         
    }

    .blog-url {
        font-family:'Courier New', Courier, monospace;
        font-size: 1.9rem;
        font-weight: bold;
        text-decoration: none;
        color: black;        
    }
    
    .section1{
        background-color: rgb(202, 56, 56);
        padding: o 10px 10px 10px;
        border-radius: 8px;
    }
    .game2-h1{
        text-align: center;
    }
    .game2-button{
        height: 100px;
        width: 100px;
        font-size: 40px;
        color: black;
        font-weight: bold;
    }
    .section2{
        background-color: black;
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
        width: 250px;
        height: 400px;
        padding: 0 20px;
    }
    .estadistica{
        border: 1px solid black;
        height: 105px;
        border-radius: 8px;
        padding: 8px 20px;
        box-sizing: border-box;
    }
    .btnReiniciar{
        inline-size: fit-content;
        font-size: 36px;
        height: auto;
        margin-left: 45px;
        border: 1px solid black;
        border-radius: 8px;
        padding: 8px 20px;
        box-sizing: border-box;
    }
    
    @media screen and (max-width: 300px) {       
        header {
            height: 13.2rem;
            padding-top: .33rem;
        }

        main {
            height: 38rem;
        }

        footer {
            height: 9.32rem;
        }
        
        .logo {
            width: 10.3rem;
            height: 8.1rem;
        }
            
        .page-title {
            font-size: 1.85rem;
        }
        
        nav a {
            font-size: 0.75rem;
        }        
    }
    
    @media screen and (min-width: 301px) and (max-width: 800px) {
        header {
            height: 14rem;
            padding-top: 0.42rem;
        }
        
        main {           
            margin: 19.5px auto;
            height: 48rem;                     
        }
        
        footer {
            height: 10.76rem;
        }
    
        .logo {
            width: 10.3rem;
            height: 8.1rem;
        }
    
        .page-title {
            font-size: 2.275rem;
        }

        nav a {
            font-size: 1.15rem;
        }       

        .blog {                     
            border-radius: 6.5px;
            margin-left: 0.975rem;                                  
        }
    
        .blog-url {            
            font-size: 1.10rem;                    
        }

        .section1{            
            padding: o 3.25px 3.25px 3.25px;
            border-radius: 2.6px;
        }
        
        .game2-h1 {
            font-size: 13px;
        }

        .game2-button{
            height: 32.5px;
            width: 32.5px;
            font-size: 13px;            
        }
        .section2{            
            border-top-right-radius: 2.6px;
            border-bottom-right-radius: 2.6px;
            width: 81.25px;
            height: 130px;
            padding: 0 6.5px;            
        }
        .estadistica{
            border: 0.325px solid black;
            height: 34.125px;
            border-radius: 2.6px;
            padding: 5.2px 13px;
            font-size: 10px;            
        }
        .btnReiniciar{            
            font-size: 13px;            
            margin-left: 14.625px;
            border: 0.325px solid black;
            border-radius: 2.6px;
            padding: 2.6px 6.5px;            
        }
    }