* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    }
    
    html {
        font-size: 62.5%;
    }
    
    body {
        font-size: 1.6rem;    
    }
    
    .wrapper {
        width:95%;
        max-width: 1000px;
        margin: auto;
        overflow: hidden;
    }
    
    header {    
        width: 100%;    
        height:19.4rem;
        padding-top: 0.5rem;      
        background: linear-gradient(120deg, red, whitesmoke);       
        /* position: fixed;
        z-index: 2; */              
    }
    
    main {
        width: 100%;
        height: 57rem;
        background: linear-gradient(200deg, black, whitesmoke);
        padding: 1.5rem 0; 
        /* z-index: 1; */                 
    }  
    
    footer {
        width: 100%;
        height: 13.6rem;
        background: linear-gradient(120deg, red, whitesmoke);
        /* z-index: 3; */
    }
    
    .logo {    
        width: 16.0rem;
        height: 12.6rem;    
        margin-top:0.2rem;               
    }
    
    .page-title {
        font-family:Arial, Helvetica, sans-serif;    
        font-size: 2.75rem;   
        color: whitesmoke;                    
    }
    
    /* .main-nav {       
        text-align: center;      
    }
    
    .main-nav-item {
        display: inline-block;
    } */
    
    nav {
        display: flex;
        justify-content: center;            
    }
    
    nav a {
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 1.55rem;
        font-weight: bold;  
        color: whitesmoke;
        padding: 0 0.3rem;
        text-decoration: none;              
    }

    .sticky {
        position: fixed;
        top: 0;
        width: 100%
      }
    
    .game {    
        display: flex;
        align-items: center;
        justify-content: center;      
        /* position: relative;
        top: 25rem; */
        /* padding: 0 1rem; */          
    }
    
    .game-item-1 {
        border: 0.3rem dashed red;    
        width:25%;
        height:25.6rem;
        border-radius: 20px;    
        background-color:antiquewhite;
        padding: 0.5rem;
        /* position: relative;
        top: 11rem; */
        display: flex;
        align-items: center;     
    }
    
    .game-item-2 {
        border: 0.3rem dashed red;
        width:75%;
        height:45.6rem;
        border-radius: 20px;    
        background-color:antiquewhite;
        margin-left: 0.1rem;
        display: flex;
        align-items: center;         
    }
    
    .game-description {
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        font-size: 1.12rem;   
        font-weight: bold;
        color: red;           
    } 
    
    @media screen and (max-width: 300px) {       
        header {
            height: 13.2rem;
            padding-top: .33rem;
        }        
       
        footer {
            height: 9.32rem;
        }
        
        .logo {
            width: 10.3rem;
            height: 8.1rem;
        }
            
        .page-title {
            font-size: 1.85rem;
        }
        
        nav a {
            font-size: 0.75rem;
        }
    }
    
    @media screen and (min-width: 301px) and (max-width: 800px) {
        header {
            height: 13.65rem;
            padding-top: 0.42rem;
        }        
    
        footer {
            height: 10.76rem;
        }
    
        .logo {
            width: 10.3rem;
            height: 8.1rem;
        }
    
        .page-title {
            font-size: 2.275rem;
        }
        
        nav a {
            font-size: 1.15rem;
        }
    }